.sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: calc(100vh - 44px);
    background-color: #2f3135;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}

.sidebar__description {
    position: relative;
    z-index: 1;
}

.sidebar__channels {
    flex: 1;
}

.sidebar__addChannel {
    cursor: pointer;
}

.sidebar__addChannel:hover {
    color: white;
}

.sidebar__channelsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__voice,
.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    padding: 10px;
    border-top: 1px solid gray;
}

.sidebar__profile {
    background-color: #202225;
}

.sidebar__voiceInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__voiceIcon {
    color: #4fb185;
}

.sidebar__voiceInfo>h3 {
    color: #4fb185;
}

.sidebar__voiceInfo>p {
    font-size: smaller;
}

.sidebar__voiceIcons>.MuiSvgIcon-root {
    padding: 10px;
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__profileInfo>h3 {
    color: white;
}

.sidebar__profileIcons>.MuiSvgIcon-root {
    padding: 10px;
}

.MuiList-root {
    padding: 10px;
}

.descriptionContent {
    font-size: .9em;
}
