.sidebarChannelLink:hover {
    color: white;
    background-color: rgba(64, 70, 75, 0.4);
}

.sidebarChannelLink {
    display: flex;
    justify-content: space-between;
}

.MuiButtonBase-root {
    display: initial
}

.sidebarChannelLink:hover button {
    display: initial;
}

.sidebarChannelLink.active button {
    display: initial;
}


.channelNameAndHash {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebarChannelLink.active {
    color: white;
    background-color: #40464b;
}

.sidebarChannel a {
    display: flex;
    align-items: center;
    background-color: #2f3135;
    color: gray;
    cursor: pointer;
}

.sidebarChannel__hash {
    font-size: 30px;
    padding: 8px;
    font-style: italic;
}