.sidebarChannelLink:hover {
    color: white;
    background-color: rgba(64, 70, 75, 0.4);
}

.sidebarChannelLink.active {
    color: white;
    background-color:  #40464b;
}


.sidebarChannel a {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2f3135;
    color: gray;
    cursor: pointer;
}

.sidebarChannel__hash {
    font-size: 30px;
    padding: 8px;
    font-style: italic;
}
