.sidebarChannelLink:hover {
    color: white;
    background-color: rgba(64, 70, 75, 0.4);
}

.sidebarChannelLink {
    display: inline-block;
    width: 100%;
}

.MuiButtonBase-root {
    display: initial
}


.sidebarChannelLink.active + button {
    display: initial;
    background-color: #40464b;
    border-radius: 0;
}


.sidebarChannelLink.active {
    color: white;
    background-color: #40464b;
}

.sidebarChannel a {
    display: flex;
    align-items: center;
    background-color: #2f3135;
    color: gray;
    cursor: pointer;
}

.sidebarChannel__hash {
    font-size: 30px;
    padding: 8px;
    font-style: italic;
}

.sidebarChannel {
    display: flex;
}

.channelNameAndHash {
    display: flex;
    align-items: center;
    width: 200px;
    text-align: start;
}

.channelName {
    overflow:hidden;
    display:inline-block;
    /* word-break: break-all; */
    /* word-wrap:break-word; */
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 240px;
    display:inline-block;
}