.loginModalWrapper {
    position: absolute;
    z-index: 5;
}

.LoginModalContainer{
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.LoginModalFormTitleContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 2em;
}

.LoginErrorModalContainer {
    border-radius: 10px;
    background-color: rgb(237, 210, 210);
    margin-left: 10px;
    color: red
}

.LoginErrorModalContainer > div {
    padding: 5px;
}

.LoginModalInputContainer {
    border-radius: 3px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.LoginModalInputContainer label {
    margin-bottom: 10px;
}

.LoginModalInputContainer > input {
    font: inherit;
    padding: 5px;
    border: 1px solid rgb(170, 170, 170);
    width: 300px;
}

.LoginModalSubmit {
    font: inherit;
    background-color: #7289da;
    border: none;
    color: white;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.LoginModalSubmit:hover {
    background-color: #6476b9;
}

.not-a-member {
    margin-left: 25%;
    margin-top: 10%;
    border: none;
    background: none;
    color: #7289da;
    font-size: 16px;
    cursor: pointer;
}

.not-a-member:hover {
    color: #6476b9;
    text-decoration: underline;
}