@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.mainNavBar {
    background-color: #292b2f;
    width: auto;
    height: 58px;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 58px;
    box-sizing: border-box;
}

.LoginModalSubmit,
.SignUpModalSubmit {
    font: inherit;
    background-color: #7289da;
    border: none;
    color: white;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.LoginSignupLogout {
    display: flex;
    width: auto;
}

.LoginModalSubmit:hover,
.SignUpModalSubmit:hover {
    background-color: #6476b9;
}

.developers__link--container {
    padding: 5px 10px;
    padding-top: 10px;
    border-style: solid;
    border-radius: 10px;
    border: none;
    background-color: #7289da;
    cursor: pointer;
}

.developers__link--container:hover {
    background-color: #6476b9;
}

.mainLogoLink {
    display: inline-block;
    height: fit-content;
    position: relative;
    top: -2px;
}

.mainLogoLink:hover > div > div + div {
    text-decoration: underline;
}

.mainLogoContainer {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

.mainLogoText {
    font-family: 'Catamaran', sans-serif;
}

.mainLogo {
    font-family: 'Pacifico', cursive;
    background-color:white;
    border-radius: 100%;
    padding: 0px 6px;
    margin-right: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #292b2F;
}